# wrangler.toml
name = "promis"
main = "src/index.ts"
compatibility_date = "2026-01-14"

[[d1_databases]]
binding = "DB"
database_name = "receituario_db"
database_id = "af433617-be97-4768-8f47-b798c38fcbf8"
migrations_dir = "src/db/migrations"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
